<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Horologer_NTP.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Horologer_NTP.Settings1>
            <setting name="NTPserver" serializeAs="String">
                <value>time.windows.com</value>
            </setting>
            <setting name="DisplayType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alarm0" serializeAs="String">
                <value>2020-01-01</value>
            </setting>
        </Horologer_NTP.Settings1>
    </userSettings>
</configuration>